.midColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5rem 10rem;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    color: #1a1a1a;
}

.header h1{
    margin-bottom: 1rem;
}

.filterButtons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.itensTelaPrincipal{
    display: flex;
    width: 100%;
    height: 50vh;
    margin-top: 3vh;
    flex-direction: column;
}

.bolderText{
    font-size: 23px;
    font-weight: bolder;
}

.itensEstatisticosTelaPrincipal{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    gap: 20px;
}

.legenda{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
    margin-left: 10px;
}

.itemEstatisticoTelaPrincipal{
    width: 100%;
    padding: 15px;
    border-style: solid;
    border-color: #CDCDCD;
    border-radius: 11px;
    height: fit-content;
}

.itemEstatistico{
    margin-top: 5px;
    margin-left: 10px;
}

.legendBottomPercentage{
    font-size: 13px;
    color: #E87373;
}

.legendBottom{
    font-size: 13px;
}

.estatisticasRanking{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 45%;
}

.headerEstatisticaRanking{
    display: flex;
    gap: 5px;
    margin-bottom: 2vh;
}

.itemEstatisticaRanking{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 15px;
    border-style: solid;
    border-color: #CDCDCD;
    border-radius: 11px;
}

.itemRankeadoPerguntas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 35px;
    padding-right: 25px;
    height: 61px;
    background-color: #CDCDCD;
    border-radius: 11px;
}

.perguntasInfos{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    justify-content: space-between;
}

.itemRankeadoVolume{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 11px;
}

.volumeInfos{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1vh;
    justify-content: space-between;
}