# Segurança
SECRET_KEY=your_secret_key_here

# Banco de dados
POSTGRES_PASSWORD=change_your_password
DATABASE_URL=postgresql://postgres:change_your_password@postgres-service:5432/tutor
DB_HOST=postgres-service

# Flask
FLASK_DEBUG=1

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_smtp_app_password
SMTP_FROM=your_email@gmail.com

# URLs
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL_RUNTIME=http://localhost:5000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=idgoogle
GOOGLE_CLIENT_ID=your_google_client_id
OLLAMA_URL=http://ollama-service:11434

# DOMINIO
EMAIL_DOMINIO=@iesb.edu.br
