.MessageConteiner{
  display: flex;
  flex: 1;
  width: 90%;
  margin: auto;
  overflow-y: hidden;
}

.MessageField{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 1rem 0rem;
  gap: 1rem;
  max-height: 90%;
  overflow-y: auto;

  &::-webkit-scrollbar {
        display: none;
    }

  scrollbar-width: none;

  -ms-overflow-style: none;
}

.MessageUser{
  background-color: rgba(13, 148, 136, 1);
  display: flex;
  max-width: 75%;
  border: 1px solid rgba(13, 148, 136, 1);
  border-radius: 16px 16px 0px 16px;
  padding: 1rem;
  margin: 1rem 1rem 0rem auto;
}

.MessageUser > p{
  color: white;
}


.MessageUser > h1{
  color: white;
}

.MessageLLM{
  background-color: #f5f5f5;
  max-width: 100%;
  border: 1px solid #f5f5f5;
  border-radius: 20px 20px 20px 0px;
  padding: 1rem;
  margin-right: auto;
}

.MessageP {
  text-align: justify;
}

@media(width >= 768px){
  .MessageConteiner{
      width: 100%;
  }
  
  .MessageUser{
      max-width: 45%;
  }

  .MessageLLM{
    margin: 0 auto 0 6rem;
  }
}
