python-dotenv
Flask
flask-cors
Flask-SQLAlchemy
Flask-Migrate
Flask-SocketIO
eventlet
PyJWT
psycopg2
chromadb
docling
openai-whisper
selenium
webdriver-manager
ollama
mistral_common
langchain
langchain_community
sentence-transformers
transformers