python-dotenv
Flask
flask-cors
Flask-SQLAlchemy
Flask-Migrate
Flask-SocketIO
eventlet
psycopg2
chromadb
docling
openai-whisper
selenium
webdriver-manager
ollama
langchain
langchain_community
sentence-transformers
transformers