@tailwind base;
@tailwind components;
@tailwind utilities;

/* light theme */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* dark theme (based on user's OS theme) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, span, button, textarea {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
}

a, p, span, svg {
  color: #1a1a1a;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
}

button {
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: #1a1a1a;
  font-weight: 600;
  margin: 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
  margin: 0;
}
