.asideContainer {
    display: flex;
    flex-direction: column;
    width: 20rem;
    min-width: 20rem;
    height: 100%;
    padding: 1rem;
    background-color: #ededed;
    box-sizing: border-box;
}
.expanded {
    width: 320px;

    transition: width ease-out 0.15s;
}
.collapsed {
    width: fit-content;
    
    transition: width ease-out 0.15s;
}

.asideChatList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    overflow-y: scroll;
}
