.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: fit-content;
    padding: 2rem;
    gap: 1rem;
    border-color: black;
    border: 3px;
    border-style: solid;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
    color: #1a1a1a;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1rem;
}

.inputContainerRegister {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    gap: 0.5rem;
    align-items: center;
}

.inputsGrid {
  display: grid;
  grid-template-columns: 80px 2fr;
  gap: 0.5rem 1rem; 
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.inputsGrid label { justify-self: end; font-weight: 600;}
.inputsGrid input { width: 100%; box-sizing: border-box; }

.rememberForgotContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 0.5rem;
}

.rememberLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.roundCheckbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 4px;
  height: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%; 
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.roundCheckbox:checked {
  background-color: #a8a8a8; 
  border-color: #333;
}

.roundCheckbox:hover {
  border-color: #0000006b;
}

.forgotPasswordLink {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: color 0.2s;
}

.forgotPasswordLink:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.8);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
}

.loginBtn {
  width: 80%;
  background-color: #999;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.loginBtn:hover {
  background-color: #444; 
}

.loginBtn:disabled {
  background-color: #dddddd;
  cursor: not-allowed;
}

.googleBtn {
  width: 10%;
  min-width: 48px; 
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.dividerContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* espaço entre linha e texto */
  width: 100%;
  margin: 1rem 0; /* espaçamento vertical opcional */
}

.dividerLine {
  flex: 1; /* ocupa todo o espaço restante */
  height: 2px; /* espessura da linha */
  background-color: #ccc; /* cor da linha */
  border: none;
}

.dividerText {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6); /* desbotado */
  white-space: nowrap;
  font-weight: 600;
}

.spanItem{
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.registerButton{
    width: 80%;
    background-color: #999;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.registerButton:hover {
  background-color: #444; 
}

.registerButton:disabled {
  background-color: #dddddd;
  cursor: not-allowed;
}