* {
    margin: 0;
    padding: 0;

}

.pageContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

.midColumnContainer {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    box-sizing: border-box;
}