.headerFixo {
    display: flex;
    flex: 0 0 4rem;
}

.footerFixo {
    display: flex;
    flex: 0 0 auto;
}

.MessageConteiner {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;
    max-height: 7.5rem;
    overflow: hidden; 
}