.midColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5rem 10rem;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: flex-start;
    color: #1a1a1a;
}
.header > * {
    margin: 0;
}

.listMaterias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}
