.midColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.topContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    color: #1a1a1a;
    box-sizing: border-box;
    overflow: hidden;
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-bottom: 1rem;
    justify-content: flex-end;
    box-sizing: border-box;
    overflow-y: auto;
}

.bottomContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1rem;
    gap: 0.5rem;
    align-items: center;
    box-sizing: border-box;
}
.bottomContainer textarea {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    border-radius: 16px;
}
.bottomContainer span {
    color: #999999;
    font-size: 0.875rem;
    text-align: center;
}
