/* Estilos para o botão */
.menuButton {
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.optionsMenu {
    display: flex;
    background-color: aliceblue;
    display: none;
    position: absolute; 
    z-index: 1; 
    border-radius: 20px;
    padding: 10px;
    top: 100%; 
    right: 50px;
    width: 300px;
    height: 80px;
    flex-direction: row;
    justify-content: center;
}


.menuOption {
    display: flex;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.show {
    display: block;
}
