/* Estilos gerais do container da janela */
.container {
    animation: fadeInScale 0.3s ease-in-out forwards;
    background-color: #555656;
    position: absolute;
    z-index: 101;
    margin: 0;
    padding: 15px;
    border-radius: 45px;
    width: 85%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Keyframes para animações */
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulsar {
    0% {
        transform: scale(1);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 0.7;
    }
}

/* Estilos do container interno */
.extratorContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

/* Barra de informações (título e botão de fechar) */
.infoBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}

.title {
    color: white;
}

/* Botão para fechar o modal */
.closeModalButton {
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
}

.closeModalButton:hover {
    animation: pulsar 1s infinite alternate;
    background-color: rgba(65, 65, 65, 0.466);
}

.openModalButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Container para a seleção de matéria */
.materiaChooseContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    background-color: transparent;
}

.materiaChoose {
    display: flex;
    flex-direction: column;
}

.materiaChooseContainer h1 {
    margin: 0;
    color: white;
}

.materiasEscolhidas {
    position: absolute;
    top: 40px;
    font-size: 30px;
    font-weight: lighter;
}

/* Estilos do dropdown de seleção */
.dragAtivo {
    background-color: rgba(0, 0, 0, 0.40);
    transition: background-color 0.2s ease-in-out;
}

/* Container para drag and drop de arquivos */
.dragdropContainer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    height: 400px;
    width: 100%;
    border-style: dashed;
    border-color: aliceblue;
    border-radius: 30px;
    margin-top: 10px;
}

.dragUsadoDiv {
    position: absolute;
    z-index: 101;
    margin-top: 10px;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.dragUsadoDiv h1 {
    font-size: 25px;
    color: white;
}

/* Lista de arquivos arrastados */
.arqList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 70%;
    max-width: 100%;
    margin: 20px;
    padding: 14px;
    color: white;
    border-radius: 25px;
    overflow: auto;
    margin-top: auto;
}

.arqList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    list-style: none;
}

.arqList button {
    padding: 14px;
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.arqList button:hover {
    animation: pulsar 1s infinite alternate;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Botão para adicionar arquivos */
.buttonAddArq {
    margin-top: auto;
    padding: 15px;
    margin: 12px;
    margin-left: 40%;
    margin-right: 40%;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color: #555656;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.buttonAddArq:hover {
    animation: pulsar 1s infinite alternate;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Container para input de link e texto */
.linkTextoContainer {
    display: flex;
    width: 100%;
    height: 90px;
    margin-top: 20px;
    border-radius: 30px;
}

/* Container para input de link */
.linkContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.linkContainerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.linkContainer h1 {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

.linkContainer input {
    outline: none;
    font-size: 15px;
    width: 500px;
    height: 30px;
    border: none;
    border-radius: 10px;
    resize: none;
}

/* Container para textarea de texto */
.textoContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.textoContainerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.textoContainer h1 {
    margin-top: 20px;
    color: white;
}

.textoContainer textarea {
    line-height: 2;
    outline: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    height: 60px;
    border: none;
    border-radius: 10px;
    resize: none;
    text-decoration: none;
}

/* Botões para enviar link e texto */
.buttonLinkTextInput {
    height: fit-content;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.buttonLinkTextInput:hover {
    animation: pulsar 1s infinite alternate;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Container para a barra de status e botão de enviar */
.arqEnviarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 1px;
    border-radius: 30px;
}

/* Div da barra de status */
.statusBarDiv {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 0 12px;
}

.statusBarDiv p {
    margin-left: 30px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
}

.statusBarDiv progress {
    appearance: none;
    width: 70%;
    margin-left: 10px;
}

.statusBarDiv progress::-webkit-progress-value {
    background-color: white;
    border-radius: 25px;
}

.statusBarDiv progress::-webkit-progress-bar {
    background-color: transparent;
    border-radius: 5px;
}

/* Botão de enviar */
.enviar {
    width: 20%;
    height: 100%;
    margin-left: 10px;
    padding: 10px 30px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.enviar:hover {
    animation: pulsar 1s infinite alternate;
    background-color: rgba(65, 65, 65, 0.466);
}