.chanfroConteiner {
  display: none;
  align-items: center;
  gap: .3rem;
}

@media(width >= 768px){
    .chanfroConteiner{
        display: flex;
    }
}

.chanfroInicial,
.chanfroInicialCor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 0 16px;
    color: white;

    clip-path: polygon(
        0% 0%,
        85% 0%,
        100% 50%,
        85% 100%,
        0% 100%
    );
}

.chanfroInicial {
    background-color: #DBEAFE;
}

.chanfroInicialCor {
    background-color: #0D9488;
}

.tab {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 0 30px;
    background-color: #DBEAFE;
    color: #0D9488;

    clip-path: polygon(
        0% 0%,
        91% 0%,
        100% 50%,
        91% 100%,
        0% 100%
    );
}

.tab::before {
    content: "";
    position: absolute;
    left: -12;
    top: 0;

    width: 20px;
    height: 100%;

    background-color: #F0FDFA;

    clip-path: polygon(
        60% 100%,
        100% 50%,
        60% 0%
    );
}

.tab:first-child {
    margin-left: 0;
}

.tab:first-child::before {
    display: none;
}

.active {
    background-color: #0D9488;
    color: white;
}