.container {
    background-color: goldenrod;
    flex: 1;
    margin: 0;
}
.BarDiv{
    background-color: rgb(185, 140, 27);
    flex:1;
}
.barItem{
    padding: 16;
    font-size: 25px;
}
.extrairDiv{
    padding: 16px;
    background-color: antiquewhite;
    margin: 20px;
}
.buttonDiv{
    justify-content: flex-end;
    align-items: right;
}